
.cart-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
   
    border-radius: 8px;
  }
  
  
  .cart-container h2 {
    margin: 0;
    padding:5px;
    font-size: 24px;
    color: #333;
  }
  
  
  .cart-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-container li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }
  .cart-product {
   
    display: flex;
  }
  .cart-button{
margin-left: 80px;
  }
  
 .cart-product > h2 {
    font-size: 18px;
    color: #444;
    margin: 0;
    
  }
  
  .cart-product  > p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  

  .cart-product  img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
  }
  
  
  .cart-product  button {
    width: 85%;
    padding: 10px;
    background-color: rgb(119, 63, 129);
    color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
   margin-left: 25px;
  }
  .cart-product  button:hover{
    color: #fff;
    opacity: 0.8;
  }

  
  .cart-product  h2 {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
  }
  