body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.forgetpassword-container {
    width: 350px;
    height: 700px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
    
}

.forgetpassword-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color:rgb(119, 63, 129);
}

.forgetpassword-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.forgetpassword-container input[type="text"],
.forgetpassword-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.forgetpassword-container button {
    width: 85%;
    padding: 10px;
    background-color: rgb(119, 63, 129);
    color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
   margin-left: 25px;
}

.forgetpassword-container button:hover {
opacity: 0.95;
}

.forgetpassword-container .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.forgetpassword-strength{
    color: rgb(119, 63, 129);
    text-decoration: none;
    margin-top: 20px;
}
.forgetpassword-strength p{
    color: rgb(119, 63, 129);
    text-decoration: none;
    text-align: left;
    font-size: 19px;
}
.forgetpassword-button{
    height: 40px;
}