
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px;
    background-color: #b7d490 ;
    border-bottom: 1px solid #ddd;
  }
  /* #db89e6 */
  /* #2a879e */
  
  nav {
    flex: 1; 
    display: flex;
    font-size: larger;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
  }
  
  
  nav ul {
    display: flex; 
    gap: 20px; 
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  nav ul li {
    color: #ddd;
    position: relative; 
    cursor: pointer;
  }
  
  /* Links */
  nav ul li a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
  }

  nav ul li a:visited {
    color: #551A8B;
  }

  nav ul li a:active {
    color: #551A8B; 
  }
  
  nav ul li a:hover {
    color: #a82fc0a9;
  }
  
  /* Dropdown menu */
  nav ul li ul {
    position: absolute;
    top: 100%; /* Position dropdown below the parent */
    left: 10;
    right: 10;
    background-color:#c5e9ba;
    border: 0px dashed #c5e9ba;
    border-radius: 4px;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    display: none; /* Hidden by default */
    box-shadow: 0px 4px 6px rgba(253, 253, 253, 0.877);
  }
  
  nav ul li:hover ul {
    display:block; 
    
  }
  
  nav ul li ul li {
    padding: 5px 15px;
  }
  
  nav ul li ul li a {
    color: #333;
    font-weight: normal;
  }
  
  nav ul li ul li a:hover {
    color: #9dff00;
  }
  
  /* Account section */
  nav ul li img {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%; /* Circular logo */
    border: 2px solid #ddd; /* Optional border */
    object-fit: cover;
  }
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin: 0 15px;
}

.link-account {
    padding: 0;
    color: #fff;
    text-decoration: none;
}

.link {
    color: #fff;
    text-decoration:none;
}

.dropdown {
    position: absolute;
    background: #A349A4;
    color: #fff;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    margin: 5px 0;
}
.header-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-nav-link {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 


}
.header-profile {
  margin-right: 10px;
}
