body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 100%;
    max-width: 350px;
    height: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
    
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color:rgb(119, 63, 129);
}

.login-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.login-container button {
    width: 85%;
    padding: 10px;
    background-color: rgb(119, 63, 129);
    color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
   margin-left: 25px;
}

.login-container button:hover {
opacity: 0.95;
}

.login-container .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.login-links a:hover {
    text-decoration: underline;
}

.login-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-links a {
    color:  rgb(119, 63, 129);
    text-decoration: none;
    margin: 5px 0;
    font-weight: 600;
}

.forgot-password-link{
    color: rgb(119, 63, 129);
    text-decoration: none;
    margin: 15px 0; 
    margin-left: 200px;

}
.login-links p{
    color: rgb(119, 63, 129);
    text-decoration: none;
    margin: 5px 0;
    
}