.prod{
    width: 300px;
    height: 550px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
    border-radius: 15px;
    border: 3px solid #ccc;

}
.prod img{
    width: 250px;
    height: 300px;
    margin: 10px;
}
.detial-price{
    color: purple;
}
.pl{
    background-color: purple;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: -40px;
    z-index: 1;
    position: relative;
    display: none;
    cursor: pointer;
}
